h1{
    background-color: lightskyblue;
    color:white;
    align-content:center;
}

.btn{
    background-color: red;
    border-radius: 5px;
    color:white;
    text-align: center;

}
#supname{
    width:80%;
}